.contenido{
    width: 40%;
    border: blue 1px solid;
    box-shadow:7px 7px grey;
    padding:15px 15px 15px 15px;

}
img{
display: inline;
}
.imagenes img{
    width: 50%;
}
.texto h1{
    color: blue;
    display: flex;
    justify-content: center;
    margin: 2px 0px 5px 0px;
}.texto h2{
    color: blue;
    display: flex;
    justify-content: center;
    margin: 5px 0px 5px 0px;
    text-align: center;

}