/*---1er bloque---*/
.contenedor1{
    width: 100%;
    display: flex;
}
.tarjeta1{
    width: 50%;
    text-align: center;
    border: black solid 1px;
    margin:20px;
    box-shadow: grey 7px 7px;
}
.tarjeta2{
    width: 50%;
    text-align: center;
    border: black solid 2px;
    margin:20px;
    box-shadow: grey 7px 7px;

}
/*---2do bloque---*/
.contenedor2{
    width: 100%;
    display: flex;
}
.tarjeta3{
    width: 50%;
    text-align: center;
    border: black solid 1px;
    margin:20px;
    box-shadow: grey 7px 7px;
}
.tarjeta4{
    width: 50%;
    text-align: center;
    border: black solid 2px;
    margin:20px;
    box-shadow: grey 7px 7px;

}
/*--------elementos---------*/
h1{
    color: blue;
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 55px;
}
p{
    color: blue;
    font-size: 30px;
    margin:2px 0px 7px 0px;
}
img{
    padding:20px 20px 3px 20px
}

/*---------media querys---------*/
/*---------901 y 1200=32%---------*/
@media all and (min-width:901) and (max-width: 1201px){
    .contenedor1{
        width: 50%;
        display: flex;
    }
    .contenedor2{
        width: 50%;
        display: flex;
    }
}
@media all and (min-width: 901px) and (max-width: 601px){
    .tarjeta1{
        width: 100%;
        text-align: center;
        border: black solid 1px;
        margin:20px;
        box-shadow: grey 7px 7px;
    }
}

    
    
