body{
    background-color: black;
}
.contenedor{
    margin: auto;
    width: 40%;
    border: aqua 1px solid;
}
img{
    width: 50%;
    height: 340px;
}
.imagenes{
    display: flex;
    justify-content: center;
    padding: 20px 20px 0px 20px;
}
.texto1{
    color: aqua;
    text-align: center;
}
h1{
    margin-bottom: 0px;
}
p{
    margin-top: 5px;
}
.texto2{
    color: aqua;
    text-align: center;
    margin-top: 0px;
}
.boton{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
button{
    text-decoration: none;
    background-color: black;
    color:aqua;
    border:1px solid aqua;
    width: 90px;
    height: 35px;
    font-size: 16px;
}


