
.titulo {
font-size: 16px;
text-align: center;
}
.contenido {
font-size: 14px;
text-align: center;
display: block;
}
div.cabecera{
}
div.imagen{
    margin-top: 5px;
    display: flex;
    justify-content: center;
}
.cabecera {
    color: blue;
    width: 40%;
    border: blue solid 1px;
    padding: 0px 10px 0px 10px;
}

.cabecera p{
    margin: 0px;
}
div.botones{
    border:black solid 1px;
    width: 90%;
    padding: 5px 5px 5px 5px;
    margin-bottom: 9px;
    display: flex;
    justify-content: center;
}

button.rojo{
    background-color: red;
    color:white;
}
button.verde{
    background-color:green;
    color: white;
}
/*@media  all and (min-width:600px) and (max-width:900px){
    body{
    }
    .contenido{
        font-size: 50px;
    }
    }
    

@media only screen and (min-width:100px) and (max-width:599px){
    body{
    }
    .contenido{
        font-size: 40px;
    }
    }
    @media only screen and (min-width:901px) and (max-width:1200px){
        body{
        }
        .contenido{
            font-size: 60px;
        }
        }*/
