.primero{
    /*border: black 1px solid;*/
    width: 100%;
   
}
.contenedor{
    display: flex;
    justify-content: space-evenly
    
}
 img .primero{
    width: 25%;
}
/*-----------------------------------*/
.segundo{
    /*border: black 1px solid;*/
    width: 100%;
   
}
.contenedor2{
    display: flex;
    justify-content: space-evenly
    
}
 img .segundo{
    width: 25%;
 }
 /*------------------------------------*/
 .tarjeta1{
     border: 1px solid blue;
     padding: 25px 20px 5px 20px;
     box-shadow: grey 7px 7px;
     margin: 20px;

}
.tarjeta2{
    border: 1px solid blue;
    padding: 25px 20px 5px 20px;
    box-shadow: grey 7px 7px;
    margin-bottom: 35px;
}
.tarjeta3{
    border: 1px solid blue;
     padding: 25px 20px 5px 20px;
     box-shadow: grey 7px 7px;
     margin: 20px;
}
/*4,5,6*/
.tarjeta4{
    border: 1px solid blue;
    padding: 25px 20px 5px 20px;
    box-shadow: grey 7px 7px;
    margin: 20px;

}
.tarjeta5{
   border: 1px solid blue;
   padding: 25px 20px 5px 20px;
   box-shadow: grey 7px 7px;
}
.tarjeta6{
   border: 1px solid blue;
    padding: 25px 20px 5px 20px;
    box-shadow: grey 7px 7px;
    margin: 20px;
}



/*-------------------------------------*/
h1{
    color: blue;
    text-align: center;
    font-size: 40px;
    margin: 0px;
}
p{
    color: blue;
    text-align: center;
    font-size: 30px;
    margin-top: 5px;
}