.contenido{
    width: 40%;
    border: black 1px solid;
    padding: 10px;

}
.imagen div{
    width: 80%;
    display: flex;
    justify-content: center;
    
}
img{
    display: flex;
    justify-content: center;
    width: 50%;
    display: flex;
    justify-content: center;
}

