.titulo {
font-size: 70px;
}
.contenido {
font-size: 40px;

}
@media  all and (min-width:600px) and (max-width:900px){
    body{
        background-color:cornflowerblue;
    }
    .contenido{
        font-size: 50px;
    }
    }
    

@media only screen and (min-width:100px) and (max-width:599px){
    body{
        background-color:blue;
    }
    .contenido{
        font-size: 40px;
    }
    }
    @media only screen and (min-width:901px) and (max-width:1200px){
        body{
            background-color:green;
        }
        .contenido{
            font-size: 60px;
        }
        }
